@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
header{
			background-color: black;
}
h1{
	font-size: 50px;
	text-align: center;
	font-family: 'Noto Serif KR', serif;
	margin: 0;
}
nav, aside{
	width: 20%;
	background-color: lightgray;
	float: left;
	height: 1300px;
  font-size: 15px;
}
h2{
	text-align: center;
	font-family: 'Noto Serif KR', serif;
	color: black;
}
main{
	width: 60%;
	background-color:white;
	
	float: left;
}
footer{
	height: 500px;
	background-color: white;
	clear: both;
}
iframe{
 margin: auto;
 display: block;
}
figcaption{
	font-size: 24px;
	color: black;
	font-weight: 600;
}
p{
	margin: 20px;
	text-align: justify;
	font-family: 'Anton', sans-serif;
}
.bgvideo{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bgvideo video{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: 1;
}
.textvideo{
	color: white;
	z-index: 2;
}
/* CSS */
.button-40 {
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 40px;
  font-weight: 600;
  line-height: 2rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Noto Serif KR', serif;
  width: auto;
  margin: 13px;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .35rem 1.5rem;
  }
}
a, a:hover {
  text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
  width: 40px;
    height: 28px;
  color: #000;
  background-color: #FFF;
  border: 1px solid #000;
  padding-top: 12px;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  -o-border-radius: 22px;
}

.socialbtns .fa:hover {
  color: #ffffff;
  background-color: #000;
  border: 1px solid #000;
}
/* CSS */.button-30 {
  align-items: center;  appearance: none;
  background-color: #FCFCFD;  border-radius: 4px;
  border-width: 0;  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;  color: #36395A;
  cursor: pointer;  display: inline-flex;
  font-family: "JetBrains Mono",monospace;  height: 48px;
  justify-content: center;  line-height: 1;
  list-style: none;  overflow: hidden;
  padding-left: 16px;  padding-right: 16px;
  position: relative;  text-align: left;
  text-decoration: none;  transition: box-shadow .15s,transform .15s;
  user-select: none;  -webkit-user-select: none;
  touch-action: manipulation;  white-space: nowrap;
  will-change: box-shadow,transform;  font-size: 18px;
  font-family: 'Merriweather', serif;
  }
.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;}
.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;  transform: translateY(-2px);
}
.button-30:active {  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);}
.c2{
  	margin: 279px;
  	 box-shadow: black 2px 2px 20px;
  }
  /* CSS */
.button-50 {
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 40px;
  font-weight: 600;
  line-height: 2rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  margin: 5px;
  font-family: 'Merriweather', serif;
}

.button-50:hover {
  background-color: #374151;
}

.button-50:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
@media only screen and (max-width:800px ){
	nav,main,aside{
		width: 100%;
	}
}
